
:root {
    --black-1: #0d0d0d;
    --black-2: #1f1f1f;
    --black-3: #313131;

    --white-1: #fafafa;
    --white-2: #eff2f6;
    --white-3: #e5e7eb;
    
    --primary-1: #2FA0DF;
    --primary-2: #006BB8;
    --primary-text: var(--white-1);
    
    --secontary-1: #FEE3B3;
    --secontary-2: #dbc39a;
    --secontary-text: #0c3f46;
}


/* ライトモード*/
[data-theme="light"],
:root:not([data-theme="dark"]) {

    --nc-font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --nc-font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;

    --nc-tx-1: var(--black-1);
    --nc-tx-2: var(--black-2);
    --nc-bg-1: var(--white-1);
    --nc-bg-2: var(--white-2);
    --nc-bg-3: var(--white-3);
    --nc-lk-1: var(--primary-1);
    --nc-lk-2: var(--primary-2);
    --nc-lk-tx: var(--primary-text);
    --nc-ac-1: var(--secontary-1);
    --nc-ac-tx: var(--secontary-text);
}

/* ダークモード*/
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --nc-tx-1: var(--white-1);
    --nc-tx-2: var(--white-2);
    --nc-bg-1: var(--black-1);
    --nc-bg-2: var(--black-2);
    --nc-bg-3: var(--black-3);
    --nc-lk-1: var(--primary-1);
    --nc-lk-2: var(--primary-2);
    --nc-lk-tx: var(--primary-text);
    --nc-ac-1: var(--secontary-2);
    --nc-ac-tx: var(--secontary-text);
  }
}

/* ダークモード*/
[data-theme="dark"] {
    --nc-tx-1: var(--white-1);
    --nc-tx-2: var(--white-2);
    --nc-bg-1: var(--black-1);
    --nc-bg-2: var(--black-2);
    --nc-bg-3: var(--black-3);
    --nc-lk-1: var(--primary-1);
    --nc-lk-2: var(--primary-2);
    --nc-lk-tx: var(--primary-text);
    --nc-ac-1: var(--secontary-2);
    --nc-ac-tx: var(--secontary-text);
}