@import url(color.css);


/*
    何もしなくても、htmlタグに対応するブラウザの装飾で
    それなりのデザインにはなりますが、色や文字サイズなど、
    普通にデザインしていくと必ず設定したくなる部分をピックアップしています。
    各クラスはてがろぐCGI側から出力される固有のもので、
    スキンで設定しているクラスは一切ありません。
*/

/* -------------------- テキスト(記事の中身)関連 -------------------- */
/*  汎用装飾(てがろぐ専用記法で書かれた文字）  */
/* E:強調(Emphasis) */
.decorationE {}

/* B:太字(Bold) */
.decorationB {}

/* D:削除(Delete) */
.decorationD {}

/* I:斜体(Italic) */
.decorationI {}

/* Q:引用(Quote) */
.decorationQ {
    /*この部分は固定*/
    display: block;
}

/* 標準で付加されてしまう引用符を無効にする（この部分は固定） */
.decorationQ::before,
.decorationQ::after {
    content: '';
}

/* 引用直後の改行を無効化する（この部分は固定） */
.decorationQ+br {
    display: none;
}

/* S:小文字(Small) */
.decorationS {}

/* T:極小文字(Tiny) 
    極小文字は、小文字と同じSmallタグで設定されていて、
    何もしないと同じ文字サイズで表示されます。
    小文字で設定している文字サイズより小さいサイズを指定してください
*/
.decorationT {
    font-size: 0.6em;
}

/* U:下線(Underline) */
.decorationU {}

/* L:リストの指定(Line) */
.decorationL {}



/* 続きを読むリンク（ボタン） */
/* ボタン枠の装飾(共通) */
.readmorebutton {
    display: inline-block;
}

/* ボタンにマウスが載った際の装飾(共通) */
.readmorebutton:hover {}

/* 開く（続きを読む）ボタン専用の装飾 */
.readmorebutton.readmoreopen {}

/* 閉じる（畳む）ボタン専用の装飾 */
.readmorebutton.readmoreclose {}

/* 鍵付き(パスワード保護)投稿に表示される鍵入力フォームの装飾 */
.passkeyform {}

/* 鍵違いエラーの表示 */
.passkeyerror {}

/* 入力フォーム枠 */
.passkeybox {}

/* 入力欄前のガイド文 */
.passkeyguide {}

/* 鍵入力欄 */
.passkeyinput {}

/* ---------------------- 投稿(ひとつひとつの記事)関連 ---------------------- */
/*固定投稿が対象*/
.logstatus-fixed {}

/*鍵付き投稿の、鍵入力前が対象*/
.logstatus-lock {}

/*固定投稿の、正しい鍵の入力後が対象*/
.logstatus-lock.logstatus-unlocked {}

/*下げる投稿が対象*/
.logstatus-rear {}

/*下書き投稿が対象*/
.logstatus-draft {}



/*検索語のハイライト*/
/*好みで変更してください*/
.searchword {
    background: linear-gradient(transparent 60%, var(--nc-ac-1) 60%);
}

/*固定投稿を示す表示*/
/*好みで変更してください*/
.fixed {
    font-size: .8em;
}

/*好みで変更してください*/
.fixed::before {
    content: "📌";
}

/*記事にあるユーティリティリンクの装飾*/
/*好みで変更してください*/
.utilitylinks {
    padding: 6px 12px;
    margin-bottom: 0.5rem;
    background: var(--nc-bg-2);
    color: var(--nc-tx-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px;
    font-size: 0.85em;
    box-shadow: none;
    box-sizing: border-box;
}

/* -------------------- 埋め込み関連 --------------------  */
/*投稿に含まれる画像のサイズを設定*/
.embeddedimage {
    max-width: 100%;
    height: auto;
}

/*新着画像リストをグリッド表示・サイズの設定*/
.imagelistitem {
    display: inline-flex;
    width: 120px;
    height: 120px;
    margin: 2px;
}

/*新着画像リストをサムネイル表示*/
.imagelistitem .oneimage {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1/1;

}

/*NSFW 画像のぼかしのはみ出しを防ぐ*/
.imagelistitem, .imagelink {
    display: inline-block;
    overflow: hidden;
}

/*NSFWフラグ付き画像のフィルター（モノクロ化＋ぼかし）*/
/*好みで変更してください*/
img.nsfw {
    -webkit-filter: grayscale(1) blur(20px);
    filter: grayscale(1) blur(20px);
}

/*
    YouTube以外にも埋め込み用の機能はありますが、（SpotifyやTwitterなど）
    他のサービスは自動で横幅のはみだしを調整することや、
    CGIの設定から変更可能（Spotify）のため、特に設定しなくても問題ありません。
*/
/* 埋め込み動画（YouTube） */
.embeddedmovie {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.embeddedmovie iframe {
    width: 100%;
    height: 100%;
}



/* ---------------------- クイック投稿フォームの設定 ---------------------- */
/* 使っているCSSがtextareaをサポートしていない場合これも有効にする */
textarea.tegalogpost {
    /*iPhone端末で画面がズームされてしまうのの防止*/
    font-size: 16px;
    /* 使っているCSSがtextareaをサポートしていない場合これも有効にする */
    width: 100%;
}

/*そのままだと引用やリストのボタンがガタガタになるので高さを合わせる*/
.decoBtns input {
    vertical-align: middle;
    height: 2.5rem;
    margin: 2px;
}

/* ---------------------- 全体の設定（あると便利） ---------------------- */

/*日付境界バーの装飾*/
/*好みで変更してください*/
.dateseparator {
    background-color: var(--nc-ac-1);
    color: var(--nc-ac-tx);
    padding: 6px 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

/*日付境界バーの文字（リンク以外）の部分を装飾する*/
/*好みで変更してください*/
.dateseparator .datetitle {
    font-weight: bold;
}


/* ----- ページナビゲーション要素 ----- */
/*好みで変更してください*/

/*ページ番号の装飾*/
a.pagenumlink {
    text-decoration: none;
    background-color: var(--nc-lk-1);
    color: var(--nc-lk-tx);
    padding: 6px 12px;
    margin: 10px 2px;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

/*ページ番号のをホバーしたときのみの装飾*/
a.pagenumlink:hover {
    background-color: var(--nc-lk-2);
}

/*今いるページの番号の装飾*/
a.pagenumhere {
    color: var(--nc-ac-tx);
    background-color: var(--nc-ac-1);
}

/*今いるページの番号をホバーしたときのみの装飾*/
a.pagenumhere:hover {
    color: var(--nc-lk-tx);
}

/*前のページに行くリンク*/
.prevlink {}

/*次のページに行くリンク*/
.nextlink {}